@import "tailwindcss";

@theme {
  --color-background: #1d181e;
  --color-text: #f5f5f5;
  --color-muted: #6b7280;
  --color-accent: oklch(70.4% 0.14 182.503);
  --color-primary: oklch(60.9% 0.126 221.723);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
